<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Client Page for counting strings</title>
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<form action="logout" method="post">
<button type="submit">Click Me!</button>
</form>
<div ng-app="stringCounterApp" ng-controller="strCountCtrl" ng-init="checkResult:''">
  <p>The string to check: <input type="text" ng-model="stringToCheck">
  <button ng-click="checkString()">Count</button>
  <button ng-click="logout()">logout</button>
  <br>
  {{checkResult}}</p>
</div>
<script>
var app = angular.module("stringCounterApp", []).constant("CSRF_TOKEN", '{{ csrf_token() }}'); 
app.controller("strCountCtrl", function($scope, $http, CSRF_TOKEN) {
   $scope.checkString = function() {
	   //alert($scope.'X-CS);
	  var data = $scope.stringToCheck;
	  $http({method: 'GET', url: "rest/countstr/ab\?data="+data }).
		  then(
		      function successCallback(response) {
		          if (response.status == 200) {
		        	  appRT = response.data;
		        	  $scope.checkResult = "Result of Counting: "+appRT.status+", "+(appRT.data?appRT.data:" Empty");
		      	  }
		          else {
		        	  $scope.checkResult = response.status+"; "+response.statusText;
		          }
		      }, 
		      function errorCallback(response){
		    	  $scope.checkResult = response.status+"; "+response.statusText;
		      }
		  );
   };
   
   $scope.logout= function() {
	   $http.post('logout', {}).finally(function() {
		    $rootScope.authenticated = false;
		    $location.path("logout");
	   });
	   //$http.post('logout',{})({method: 'POST', url:"login?logout"}).then(function successCallback(response) {$location.path('')});
   };
});
</script>

</body>
</html>
